.content{
    width: 720px;
    height: 500px;
    margin: 0 auto;
}

.circle{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 150px auto;
    border-radius: 50%;
    border: none;
    text-align: center;
    z-index: 15;
}

.logo{
    position: absolute;
    top: 70px;
    left: 80px;
    width: 250px;
    height: 200px;
    margin: 70px auto 70px 50px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.border{
    position: absolute;
    width: 20px;
    height: 5px;
    background: #000;
    color: #fff;
    left: 50%;
    line-height: 50px;
    overflow: hidden;
    transform-origin: 0 225px;
}

.sin0{
    animation: height 1.3s 1 ease-out;
}

.sin1{
    animation: height2 1.3s 1 ease-out;
}

.sin2{
    animation: height3 1.3s 1 ease-out;
}

.sin3{
    animation: height4 1.3s 1 ease-out;
}

.sin4{
    animation: height5 1.3s 1 ease-out;
}

.sin5{
    animation: height6 1.3s 1 ease-out;
}

.sin6{
    animation: height7 1.3s 1 ease-out;
}

.sin7{
    animation: height8 1.3s 1 ease-out;
}

.sin8{
    animation: height9 1.3s 1 ease-out;
}

.sin9{
    animation: height10 1.3s 1 ease-out;
}

.sin10{
    animation: height11 1.3s 1 ease-out;
}

.sin11{
    animation: height12 1.3s 1 ease-out;
}

.sin12{
    animation: height13 1.3s 1 ease-out;
}

.sin13{
    animation: height14 1.3s 1 ease-out;
}

.sin14{
    animation: height15 1.3s 1 ease-out;
}

.sin15{
    animation: height16 1.3s 1 ease-out;
}

.sin16{
    animation: height17 1.3s 1 ease-out;
}

.sin17{
    animation: height18 1.3s 1 ease-out;
}

.sin18{
    animation: height19 1.3s 1 ease-out;
}

.sin19{
    animation: height20 1.3s 1 ease-out;
}

.sin20{
    animation: height21 1.3s 1 ease-out;
}

.sin21{
    animation: height22 1.3s 1 ease-out;
}

.sin22{
    animation: height23 1.3s 1 ease-out;
}

.sin23{
    animation: height24 1.3s 1 ease-out;
}

.sin24{
    animation: height25 1.3s 1 ease-out;
}

.sin25{
    animation: height26 1.3s 1 ease-out;
}

.sin26{
    animation: height27 1.3s 1 ease-out;
}

.sin27{
    animation: height28 1.3s 1 ease-out;
}

.sin28{
    animation: height29 1.3s 1 ease-out;
}

.sin29{
    animation: height30 1.3s 1 ease-out;
}

.sin30{
    animation: height31 1.3s 1 ease-out;
}

.sin31{
    animation: height32 1.3s 1 ease-out;
}

.sin32{
    animation: height33 1.3s 1 ease-out;
}

.sin33{
    animation: height34 1.3s 1 ease-out;
}

.sin34{
    animation: height35 1.3s 1 ease-out;
}

.sin35{
    animation: height36 1.3s 1 ease-out;
}