@keyframes height36{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(350deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height35{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(340deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height34{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(330deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height33{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(320deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height32{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(310deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height31{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(300deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height30{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(290deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height29{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(280deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height28{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(270deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height27{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(260deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height26{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(250deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height25{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(240deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height24{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(230deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height23{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(220deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height22{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(210deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height21{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(200deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height20{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(190deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height19{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(180deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height18{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(170deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height17{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(160deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height16{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(150deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height15{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(140deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height14{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(130deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height13{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(120deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height12{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(110deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height11{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(100deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height10{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(90deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height9{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(80deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height8{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(70deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height7{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(60deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height6{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(50deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height5{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(40deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height4{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(30deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height3{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(20deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height2{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(10deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes height{
  0% {
    height: 10px;
  }
  50% {
    transform: rotate(0deg) translateY(-50px);
    height: 50px;
  }
  100% {
    height: 10px;
  }
}