.border:nth-child(36) {
  left: 186px;
  top: 4px;
  transform: rotate(350deg);
}
.border:nth-child(35) {
  left: 149px;
  top: 14px;
  transform: rotate(340deg);
}
.border:nth-child(34) {
  left: 113px;
  top: 31px;
  transform: rotate(330deg);
}
.border:nth-child(33) {
  left: 81px;
  top: 53px;
  transform: rotate(320deg);
}
.border:nth-child(32) {
  left: 53px;
  top: 81px;
  transform: rotate(310deg);
}
.border:nth-child(31) {
  left: 31px;
  top: 113px;
  transform: rotate(300deg);
}
.border:nth-child(30) {
  left: 14px;
  top: 149px;
  transform: rotate(290deg);
}
.border:nth-child(29) {
  left: 4px;
  top: 186px;
  transform: rotate(280deg);
}
.border:nth-child(28) {
  left: 0px;
  top: 226px;
  transform: rotate(270deg);
}
.border:nth-child(27) {
  left: 4px;
  top: 265px;
  transform: rotate(260deg);
}
.border:nth-child(26) {
  left: 14px;
  top: 302px;
  transform: rotate(250deg);
}
.border:nth-child(25) {
  left: 31px;
  top: 338px;
  transform: rotate(240deg);
}
.border:nth-child(24) {
  left: 53px;
  top: 370px;
  transform: rotate(230deg);
}
.border:nth-child(23) {
  left: 81px;
  top: 398px;
  transform: rotate(220deg);
}
.border:nth-child(22) {
  left: 113px;
  top: 420px;
  transform: rotate(210deg);
}
.border:nth-child(21) {
  left: 149px;
  top: 437px;
  transform: rotate(200deg);
}
.border:nth-child(20) {
  left: 186px;
  top: 447px;
  transform: rotate(190deg);
}
.border:nth-child(19) {
  left: 226px;
  top: 450px;
  transform: rotate(180deg);
}
.border:nth-child(18) {
  left: 265px;
  top: 447px;
  transform: rotate(170deg);
}
.border:nth-child(17) {
  left: 302px;
  top: 437px;
  transform: rotate(160deg);
}
.border:nth-child(16) {
  left: 338px;
  top: 420px;
  transform: rotate(150deg);
}
.border:nth-child(15) {
  left: 370px;
  top: 398px;
  transform: rotate(140deg);
}
.border:nth-child(14) {
  left: 398px;
  top: 370px;
  transform: rotate(130deg);
}
.border:nth-child(13) {
  left: 420px;
  top: 338px;
  transform: rotate(120deg);
}
.border:nth-child(12) {
  left: 437px;
  top: 302px;
  transform: rotate(110deg);
}
.border:nth-child(11) {
  left: 447px;
  top: 265px;
  transform: rotate(100deg);
}
.border:nth-child(10) {
  left: 450px;
  top: 225px;
  transform: rotate(90deg);
}
.border:nth-child(9) {
  left: 447px;
  top: 186px;
  transform: rotate(80deg);
}
.border:nth-child(8) {
  left: 437px;
  top: 149px;
  transform: rotate(70deg);
}
.border:nth-child(7) {
  left: 420px;
  top: 113px;
  transform: rotate(60deg);
}
.border:nth-child(6) {
  left: 398px;
  top: 81px;
  transform: rotate(50deg);
}
.border:nth-child(5) {
  left: 370px;
  top: 53px;
  transform: rotate(40deg);
}
.border:nth-child(4) {
  left: 338px;
  top: 31px;
  transform: rotate(30deg);
}
.border:nth-child(3) {
  left: 302px;
  top: 14px;
  transform: rotate(20deg);
}
.border:nth-child(2) {
  left: 265px;
  top: 4px;
  transform: rotate(10deg);
}
.border:nth-child(1) {
  left: 225px;
  top: 0px;
  transform: rotate(0deg);
}
